<?xml version="1.0"?>
<launch>
  <!-- Robot version argument -->
  
  <!-- Gripper type argument -->
  <arg name="gripper_type" default="50mm" doc="Gripper type: 50mm or 100mm" />
  
  <!-- RViz GUI argument -->
  <arg name="use_gui" default="true" doc="Use joint_state_publisher GUI" />
  <arg name="use_rviz" default="true" doc="Launch RViz" />
  
  <!-- URDF file path -->
  <arg name="urdf_file" default="$(find alicia_d_descriptions)/urdf/Alicia_D_v5_6/Alicia_D_v5_6_gripper_$(arg gripper_type).urdf" />
  
  <!-- Load URDF file -->
  <param name="robot_description" textfile="$(arg urdf_file)" />
  
  <!-- Broadcast static tf from world to base_link -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0 0 0 0 world base_link" />
  
  <!-- Joint State Publisher -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" unless="$(arg use_gui)" />
  <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(arg use_gui)" />
  
  <!-- Robot State Publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
  <!-- RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find alicia_d_descriptions)/launch/robot.rviz" if="$(arg use_rviz)" />
  
</launch>
